name: circular_countdown
description: A package that represents a circular countdown that you can use for
  every kind of units (days, hours, seconds, points, ...).
version: 2.1.0
homepage: https://github.com/MattisBrizard/circular_countdown

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
